.player-container {
    height: 5rem;
    margin: 1rem;
}

.player {
    padding: 0.5rem;
    height: 1.5rem;
    transform: translateY(1.2rem);
}

.player > .name {
    width: 5rem;
}

.symbol {
    padding-right: 1rem;
    font-weight: bold;
    font-size: 3rem;
}

.player > label {
    padding-right: 1rem;
}

.player > .edit {
    padding-left: 1rem;
    font-weight: bold;
}

.player > .edit:hover {
    cursor: pointer;
    color: red;
}

.active {
    border: 3px solid red;
}