#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  background-color: #CECFC7;
} 

.game-container {
  padding: 2rem;
  border: 1px solid black;
  width: 40rem;
  background-color: #23022E;
  box-shadow: 0px 2px 9px 7px grey;
  /* display: flex; */
}

.player-container {
  width: 100%;
}

.winner-container {
  height: 2rem;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }
}

@keyframes shake {
  25% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(3deg);
  }
}

.title {
  background: linear-gradient(to right, #23022E, #573280 ,#23022E);
  color: #EFF8E2;
}

.log {
  color: #EFF8E2;
}

.winner-player {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  height: 4rem;
  animation: blink 1s linear 5;
}

.restart-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7rem;
  padding-left: 1rem;
}

.shake {
  animation: shake 2s linear infinite;
}

.center {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}